[Unit]
Description=IR-Keytable Init & bbdradio
After=multi-user.target

[Service]
Type=simple
User=pierre
ExecStart= /usr/bin/python /home/pierre/Documents/initremote.py
#ExecStart= /usr/bin/python  /home/pierre/Documents/trig_ir.py
WorkingDirectory=/home/pierre/Documents
Restart=on-failure

[Install]
WantedBy=custom.target

